body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE4D1;
}

.carousel-control-prev,
.carousel-control-next{
    top: 11rem;
    width: 5rem;
    height: 5rem; 
    background-color: #E55604; 
    border-radius: 100%;
}

.carousel-control-prev {
    left: -3rem;
}

.carousel-control-next {
    right: -3rem;
}

.carousel-inner{
    background-color: #EBE4D1;
    padding: 3rem;
    padding-top: 4rem;
}

#foodTypesContainer {
    max-width: 1500px;
}

.container {
    padding-top: 4rem;
    background-color: #EBE4D1;
}

.custom-card-img {
    height: 200px;
    object-fit: cover;
}

.card{
    border-radius: 10%;
}

.card:hover{
    text-decoration: none;
    border-radius: 10%;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px #E55604;
}

.card a:hover{
    text-decoration: none;
}
.card-title{
    color: #E55604;
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
}
